@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}

body {
  color: slategray;
  background-color: black;
  vertical-align: top;
}

table {
  display: inline-block;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 2rem 0rem 0rem 0rem;
  border-radius:.3rem ;
}

.table-cell {
  box-sizing: border-box;
  flex-grow: 1;
  width: 100%;
  padding: 0.8em 1.2em;
  overflow: hidden;
  list-style-type: none;
  outline: 1px solid #ddd;
  text-align: center;
  font-weight: 300;
}

button, tr,th,td {
  border: 2px solid;
  padding: .6rem .9rem .6rem .9rem;
  font-weight: 400;

  @include transition(0.2s ease-in-out);
  @include border-radius(.3rem);
}
div{
  width: 100%;
  display: block;
}